section{
    background-color:  #f4f4f9;
    padding: 30px;
}

h2{
    color: #1e90ff;
    text-align: center;
}

p{
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 40px;
}

li {
    margin-bottom: 8px;
}