
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #1e90ff; 
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px; 
}

label {
    margin-bottom: 5px;
    margin-top: 15px; 
    text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    margin-bottom: 10px;
    border: 1px solid #1e90ff; 
    outline: none; 
}

textarea {
    resize: vertical; 
    min-height: 100px;
}

input[type="submit"] {
    background-color: #00bfff; 
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    align-self: center;
}
