
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f9ff;
    color: #333;
}

header {
    background-color: #0a80c1;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header p {
    margin: 5px 0 0;
    font-style: italic;
}

main {
    padding: 20px;
}

h2 {
    color: #0a80c1;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li::before {
    content: "🦷 ";
}

.italic-blue {
    font-style: italic;
    color: #0a80c1;
}

.warning {
    color: red;
    font-style: italic;
}

a {
    color: #0a80c1;
    text-decoration: underline;
}

footer {
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    background-color: #0284c7;
}

