* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color:#faf5f0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 25px;
}

.maintitle {
    color: #7562bd;
    font-size: 34px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    font-size: 17px;
    color: #49515c;
}

.menu button {
    font-size: 17px;
    background-color: #0d6efd;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 5px;
}


@media (max-width: 1024px) {
    .header {
        flex-direction: column;
    }
}

@media screen and (max-width: 540px) {
    .header {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }
}
