* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: black;
}

.tittle {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #2c3e50;
    width: 100%;
    text-align: center;
    color:#ffffff;
    padding: 40px 0;
}

.menu {
   display: flex;
   justify-content: center;
   font-weight: bold;
   gap: 36px;
   margin-top: 20px;
}

.listmenu {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

.listmenu:hover {
    text-decoration: underline;
}

.banner img {
    width: 100%;
    height: 280px;
}
.banner {
    margin-bottom: 20px;
}

.intro {
    background-color: #ffffff;
    max-width: 1050px;  
    margin: 0 auto;     
    padding: 36px 0;
    border: 1px solid #dadada;
}


.intro h2 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.intro p {
    margin-left: 15px;
}

.listbook {
    background-color: #ffffff;
    max-width: 1050px;  
    margin: 0 auto;     
    padding: 36px 0;
    margin-top: 20px;
    border: 1px solid #dadada;
}


.Book {
    display: flex;
    gap: 27px;
    justify-content: center;
    transform: translateY(0);                 
    transition: transform 0.25s ease,
                background-color 0.25s ease,
                box-shadow 0.25s ease;
}

.listbook h2 {
    margin-bottom: 30px;
}

.books {
    border: 1px solid #dadada;
}

.books img:hover {
    transform: translateY(-10px);              
    box-shadow: 0 8px 16px rgba(0,0,0,0.12);
}

.table {
    background-color: #ffffff;
    max-width: 1050px;  
    margin: 0 auto;     
    padding: 36px 0;
    border: 1px solid #dadada;
    margin-top: 20px;
}

th {
    background-color: #ecf0f1;
    text-align: center;
    padding: 8px;
}

td {
    text-align: center;
    padding: 8px;
}

.table h2 {
    margin-bottom: 20px;
}

.table table {
    width: 93%;
    margin-left: 30px;
    margin-right: 30px;
}

.contact {
    background-color: #ffffff;
    max-width: 1050px;  
    margin: 0 auto;     
    padding: 36px 0;
    border: 1px solid #dadada;
    margin-top: 20px;

}

input {
    width: 93%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
}

button {
    width: 93%;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #2c3e50;
    color: #ffffff;
    padding: 10px;
}

button:hover {
    background-color: aquamarine;
    color: #ffffff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.12);
    border: 1px solid aquamarine;
}

footer {
    background-color: #2c3e50;
    text-align: center;
    margin-top: 20px;
    padding: 36px 0;
    color: #ffffff;
}

.books p {
    text-align: center;
}