.banner {
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid black;
}

h1 {
    background-color: aqua;
    margin-top: 2px;
    margin-bottom: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dot {
    text-decoration: underline dotted;
    font-style: italic;
}

p {
    margin-top: 0%;
    padding-top: 5px;
}