.card {
    border: 1px solid black;
    background-color: #ffffff;
    width: 400px;
}

.one {
    color: #ff6600;
    margin-top: 0px;
    margin-left: 5px;
}

h3 {
    color: #1eff5b;
    margin-left: 10px;
}

p {
    color: #b4b4bb;
    margin-left: 10px;
}

img {
    width: 100%;
}

h1 {
    margin-left: 10px;
}