* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    flex-wrap: wrap; 
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
}

.image img {
    width: 170px;
    height: 100px;
    border-radius: 15px;
}

.image p {
    text-align: center;
    max-width: 170px;
}

