* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #faf9f6; 
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1a1a1a; 
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

header nav a {
    color: #ccc;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    transition: color 0.3s;
}

header nav a:hover {
    color: #fff;
}

main {

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.section-title {
    text-align: center;
    color: #444;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 20px;
}

.featured-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden; /* Để ảnh bo góc theo thẻ */
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.featured-card img {
    width: 100%;
    height: 350px;
    object-fit: cover; /* Cắt ảnh vừa khung */
    padding: 20px 20px 0 20px; 
    border-radius: 28px; 
}

.card-content {
    padding: 20px 40px;
}

.card-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #222;
}

.description {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.read-more {
    text-decoration: none;
    color: #c5a059;
    font-weight: bold;
    font-size: 14px;
}

.list-section {
    margin-top: 40px;
}

.list-item {
    background-color: white;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.03);
}

.list-item h3 {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

.list-item p {
    font-size: 13px;
    color: #777;
    line-height: 1.5;
}

footer {
    background-color: #1a1a1a;
    color: #888;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    margin-top: auto;
}