
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f5f0;
    line-height: 1.3;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1E1E1E;
    padding: 15px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: #D4AF37;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 8px;
}

.section {
    margin: 40px;
    flex: 1;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    width: 580px;
    margin: 10px;
    padding: 40px;
    border: 1px solid transparent;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.25s;
}

.item:hover {
    transform: translateY(-3px) scale(1.005);
}

.item h2 {
    color: #D4AF37;
    margin-bottom: 10px;
}

.item p {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer {
    padding: 20px;
    background-color: #1E1E1E;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pivacy-term {
    display: flex;
    gap: 30px;
}





